<%- include("header.ejs") %>
<div id='dv'  class='container'>
    <input type = 'text' id ='lg' name ='lg' placeholder=' введите логин'>
    <input type = 'password' id ='ps' name ='ps' placeholder=' введите пароль' >
    <input class="btn waves-effect waves-light" type = 'submit' id ='bt_lg' name ='bt_lg' >
 </div>   
</body>
<script src="static/log_admin.js"></script>
</html>